.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 34px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__btn {
  background-color: var(--white-color);
  box-shadow: 5px 10px 20px 0 rgba(211, 209, 216, 0.3);
  width: 38px;
  height: 38px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.header__btn:hover {
  background-color: #afafb4;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  gap: 48px;
}

.img {
  width: 323px;
  height: 248px;
  border-radius: 18px;
  object-fit: cover;
}

.right {
  min-width: 200px;
}

.price {
  margin-bottom: 13px;
}

.price__value {
  font-weight: 400;
  font-size: 19px;
  color: var(--text-color);
}
.hr {
  margin-bottom: 17px;
}

.rating {
  margin-bottom: 22px;
}

.rating__value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 136px;
  width: 51px;
  height: 29px;
  box-shadow: 0 6px 24px 0 rgba(254, 114, 76, 0.2);
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  color: var(--text-color);
}

.currency {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary-color);
}

.ingredients {
  font-size: 14px;
  color: #5b5b5e;
}

.ingredients__text {
  font-weight: 600;
}

.ingredients__value {
  font-weight: 400;
}
