.input {
  padding: 16px 44px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 15px 20px 45px 0 rgba(233, 233, 233, 0.25);
  min-width: 200px;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 18px;
  top: 18px;
}
